extends ../layout

block content
  h1 Register

  form(method="GET", action="/pages/home")
    .form-group
      label Email
      input.form-control(type="email")
    .form-group
      label Username
      input.form-control(type="text")
    .form-group
      label Password
      input.form-control(type="password")
    .form-group
      label Confirm Password
      input.form-control(type="password")
    .form-group
      input.btn.btn-default(type="submit", value="Register")
